{% extends "bootstrap_5_layout.html" %}

{% block content %}

<h1 style="text-align: center; color:Blue;"> Welcome to EventFinder!</h1>

<h3 style = "text-align: center; color:blue;">Perfect App for New Travelers</h3>

<p>
Our mission it to make travel seamless for everyone, and to make connecting with city events easy.
 
This app leverages the TicketMaster API to find events in cities across the world.
</p>

<h4 style = "color:blue;"> Navigation</h4>

<p>
    To use the app, navigate to the search page. First, Enter your destination in the input box. 
    Next, select dates for your trip, and specify your search radius.
</p>

<p>
    Under the advanced options tab, you can specify option like, family friendly events, events that are still to be announced, or events only available on TicketMaster.
</p>

<h4 style = "color:blue;">Search</h4>

<p>
Click search, and explore the events available in your desired city and dates! Make your itinerary planning easy!
Hover over events, and click on "View on TicketMaster" to naviagte directly to the event's page. 
EventFinder makes finding tickets for your favorite events easy!
</p>

<p>Login with Google credentials to add saved events to the saved tab!</p>

<h4 style="text-align:center; color:blue;">Start planning your next adventure with us today!</p>

<img style= "image-orientation: center;" src="https://imageio.forbes.com/specials-images/imageserve/66ba827c8ff2be58a5e1ea62/Aircraft-landing-at-sunrise/960x0.jpg?format=jpg&width=960" alt="A stunning sunset" width="600" height="400" />


{% endblock %}